{% extends 'pay/base.html' %}
{% load staticfiles %}

{% block title %}Account Details {% endblock %}
{% block header %}Account Details {% endblock %}

{% block content %}
<div class="container-fluid">

    <div class ="row">
        <div class ="col-lg-8">
            <div class="card">
                <div class="recent-comment">
									  <div class="media">
										    <div class="media-left">
											      <a href="#"><img alt="..." src="/static/images/twitter-avatar.png" class="media-object"></a>
										        </div>
										        <div class="media-body">
											          <h4 class="media-heading"> {{ request.user.username }} </h4>
											          <h5 class="media-heading">First Name : {{ request.user.first_name }}</h5> 
											          <h5 class="media-heading">Balance : {{ request.user.profile.money }}</h5> 
										            </div>
									  </div>
                
            </div>
        </div>
        </div>
        
    </div>

    <div class = "row">

        <div class = "col-lg-8">

            <div class = "card">

                    {% if linked %}
                    <a href="/link-card/{{ user.id }}"><button type="button" class="btn btn-primary btn-primary">Link Card</button></a>
                    {% else %}
                    
                    <div class="basic-form">
                            <form method="post">
                                {% csrf_token %}
                 
                                {%csrf_token%}
                                {% for error in form.non_field_errors %}
                                <div class="form-group has-errors text-danger small">
                                    {{error}}
                                </div>
                                {% endfor %}
                                {% for field in form %}
                                <div class="form-group has-errors text-danger small">
                                    {{field.errors}}
                                </div>
                                <div class="form-group has-errors text-danger small">
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{{ field.label }}</label>
                                    <div class="col-sm-4">  
                                         {{field}}
                                     </div>
                                </div>
                                {% endfor %}
                                <div class="col-sm-4">  
                                        <button class="btn btn-primary">Add</button>
                                 </div>
                            </form>
                       </div>
                       {% endif %}

            </div>
        </div>


    </div>
{% endblock %}