{% extends 'pay/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid">
    <div class ="row">
        <div class="col-lg-8">
            <div class = "card">
            <h4 class="card-title">Account Details</h4>
            <h6 class="card-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis facilisis risus quis nibh bibendum maximus. Integer neque nulla, hendrerit eu turpis ac, rhoncus convallis elit</h6>
            </div>
        </div>
    </div>
    <div class ="row">
        <div class ="col-lg-8">
            <div class="card">
                <div class="recent-comment">
									  <div class="media">
										    <div class="media-left">
											      <a href="#"><img alt="..." src="/static/images/twitter-avatar.png" class="media-object"></a>
										        </div>
										        <div class="media-body">
											          <h4 class="media-heading"> {{ request.user.username }} </h4>
											          <h5 class="media-heading">First Name : {{ request.user.first_name }}</h5> 
											          <h5 class="media-heading">Balance : {{ request.user.profile.money }}</h5> 
										            </div>
									  </div>
                    <div class="button-list">
                    <div class="btn-group">
                        <a href="?addmoney=100"><button type="button" class="btn btn-primary btn-primary">Add Rs. 100 </button></a>
                        <a href="?addmoney=500"><button type="button" class="btn btn-dark btn-outline">Add Rs. 500</button></a>
                        <a href="?addmoney=2000"><button type="button" class="btn btn-primary btn-danger">Add Rs. 2000</button></a>
                        </div>
                        </div>
            </div>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ msg1 }}</h4>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-info progress-bar-striped" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent }}%; height:10px;" role="progressbar"> <span class="sr-only">85% Complete (success)</span> </div>
                    </div>
                    </div>
                    </div>
                    </div>
    </div>

{% endblock %}