{% extends 'pay/base.html' %}

{% block header %}Hot Deals{% endblock %}
{% block title %}Hot Deals{% endblock %}


% load staticfiles %}

{% block content %}
            <div class="container-fluid">
                <div class="row">
                    
                    {% for product in product_list %}
                    <div class="col-md-3">
                    <div class="card">
                            <img class="card-img-top" src="{{ product.url }}" alt="Card image cap" style="margin-left:50px;width:120px;height:200px;">
                            <div class="card-body">
                              <h5 class="card-title">{{ product.name }}</h5>
                              <p class="card-text">{{ product.desc|truncatechars:80 }}</p>
                              <p class="card-text float-right"><b>Rs. {{ product.price }}</b></p>
                              <a href="?add-prod={{ product.id }}" class="btn btn-outline-secondary"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                            </div>
                    </div>
                    </div>
                   {% endfor %}
                </div>
            </div>
            {% endblock %}